@import url(https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Baloo+2:wght@500;800&display=swap);
*{
    user-select: none;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,Arial;
}
body{
    margin: 0;
    background-color: aliceblue;
}
.hide{
    display: none;
}
.main{
    position: relative;
    padding:1rem;
    height: 500px;
    margin-top: 10rem;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color:rgba(0, 0, 0, 0.192);
}

.center {
    text-align: center;
    margin: auto;
}
h1{
    margin: 10px;
	margin-top: 4%;
    text-align: center;
}
ul{
    padding: 0;

}
nav ul{
    margin: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: right;
    background-image: linear-gradient(rgba(131, 131, 255, 1),rgba(0, 247, 255, 1));
	color: white;
}
nav li a{
	color: white;
	display: block;
	text-align: center;
	overflow: hidden;
	text-decoration: none;
}

nav li{
    user-select: none;
    display: inline-block;
    padding: 1rem;
	transition: 0.3s;
}
nav li:hover{
    background-color: #0c0c0c57;
}
.btn{
    font: large Tahoma;
    box-shadow:0px 0px 10px rgba(12, 12, 12, 0.384);
    border: 0;
    width: 10rem;
    height: 4rem;
    border-radius: 1rem;
    margin: 5px;
	transition: 0.3s;
	text-align: center;
}
.btn:hover{
    animation: btn-anim 1s infinite;

    border: 2px solid rgb(190, 190, 190);
}
@keyframes btn-anim {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(3deg);
    }
    50%{
        transform: rotate(-3deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.start-btn{
    background-color:mediumaquamarine;
    padding-bottom: 10px;
}

.scores-btn{
    background-color:mediumaquamarine;
}


.quit-btn{
    position:absolute;
    top: 80%;
    right: 0;
    margin-right: 2rem;
    background-color: lightcoral;
}
.play-again{
    margin-top: 8rem;
    position: absolute;
    top: 20%;
    right: 44%;
    background-color: #cc9b6d;
}
ol{
    list-style:upper-alpha;
    text-align: left;
}

.img_logo{
    padding: 0 30%; 
    position:inherit;
    width:40%;
    top:0%;
    animation: fadein 2s, bounce 1s infinite alternate;
}
.fade_in{
    animation: fadein 1s;
}
@keyframes fadein {
    from{
        opacity: 0; }
    to{
        opacity: 1;
    }
}
@keyframes bounce {
    from{
        transform: translateY(0px);
        filter: hue-rotate(0deg);
    }
    to{
        filter: hue-rotate(90deg);
        transform: translateY(-10px);
    }
  }
.nav_logo{
    float:left;
    margin: 0;
    height: 3rem;
}
p{
    font-size: large;
    font-family: 'Baloo 2';
}
.fancy{
    margin-bottom:0;
    font-size: 3rem;
    text-shadow: 1px 1px 8px rgb(255, 255, 56);
    font-weight: bold;
    font-family: 'Architects Daughter';
}
.fancy2{
    margin-bottom:0;
    font-size: 1rem;
    text-shadow: 1px 1px 8px rgb(56, 215, 255);
    font-weight: bold;
    font-family: 'Architects Daughter';
}
.symbol{
    margin-top: 2rem;
    width: 100px;
    animation: fadein 1s;
}

.members{
	margin-top: 10%;
	text-align: center;
}

.header {
	margin-top: 59px;
	padding: 60px;
	text-align: center;
	background: #93d2d9;
	color: white;
	font-size: 30px;
}

.content {
	padding:20px;
}

/*MEMBER CARDS*/
.card {
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: Tahoma;
  }

  .about-section {
    padding: 150px;
    margin: 20px;
    text-align: center;
    background-color: #000000;
    color: white;
    font-family: Tahoma;
    font-size: 25px;
  }

img{
     border-radius: 10px;
     border: none;
  }
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

  .column {
    float: left;
    width: 23.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }


  .title {
    color: rgb(0, 0, 0);
    font-size: 18px;
  }


  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    border-radius: 3px;
    background-color: rgb(240, 9, 9);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
	transition: 0.3s;
  }

  a {
    font-family: Tahoma;
    text-decoration: none;
    font-size: 22px;
    color: black;
	transition:0.3s;
  }

  button:hover, a:hover {
    opacity: 0.4;
	transition: 0.3s;
  }

h2{
	text-align: center;
}

/*NAVBAR*/
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: rgb(0,0,0); */
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
